/* Webpage layout excercise
* Twostay - From a guy at dribbble, will look for him and give credits later
* Code - Nwazuo Goodluck Chizaram
* Github - github.com/nwazuo
* Twitter - twitter.com/ch1zo
*/

/* Site colors */
$accent: #00acff;
$text: #1f2543;

/* Font */
$font: "CircularStd";

/* Mixins for media queries */
@mixin phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-potrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin tablet-landscape-down {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin desktop-down {
  @media (max-width: 1200px) {
    @content;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: $font, "sans-serif";
}

/* General Overrides */
select:focus,
input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid $accent !important;
  box-sizing: border-box;
}

/* Hero Section */
.hero {
  position: relative;
  z-index: 1;
  background: url("../img/hero-bg.png") no-repeat;
  background-size: cover;
  padding-bottom: 70px;

  @include tablet-landscape-down {
    padding-bottom: 20px;
  }

  &:after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45);
  }

  .header-contain {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  header {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.875rem 50px 0;

    @include tablet-landscape-down {
      padding: 15px 15px;
    }

    .logo {
      padding-top: 3px;
    }
  }
}

nav.large-menu {
  position: relative;
  perspective: 600px;
  & > ul {
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & > li {
      list-style-type: none;
      padding: 15px 0 30px 0;
      margin: 0 1.875rem;
      color: white;
      box-sizing: border-box;
      border-bottom: 2px solid rgba(0, 0, 0, 0);

      @media screen and (max-width: 1124px) {
        margin: 0 0.8rem;
      }

      &:hover {
        border-bottom: 2px solid #fff;

        & > a {
          color: white;
        }
      }
      & > a {
        font-family: $font, "sans-serif";
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
      }
    }
    .login {
      color: white;
      align-self: center;
      // box-sizing: border-box;
      // list-style-type:hidden none;
      border: 1px solid white;
      border-radius: 30px;
      padding: 15px 2.5rem;
      margin-bottom: 12px;
      // line-height: 0;

      a {
        color: white;
        line-height: 0;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0);
      }
    }
  }
}
.large-menu .drop {
  position: relative;
  display: flex;
  justify-content: center;

  & > a {
    background: url(../img/chevron-down.png) no-repeat 100%;
    padding-right: 20px;
  }

  &:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0) !important;
  }
}

.large-menu .dropdown {
  position: absolute;
  overflow: hidden;
  padding-left: 0;
  min-width: 200px;
  display: none;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(40px);
  will-change: opacity;

  li {
    padding-left: 0;
    list-style-type: none;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    & > a {
      color: #26c195;
      font-family: $font, "sans-serif";
      text-decoration: none;

      &:hover {
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

//Implementing stripe style navigation for the pc header navigation
.dropdownBg {
  position: absolute;
  background: white;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  justify-content: center;
  width: 100px;
  height: 100px;
  opacity: 0;

  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);
  }
}

.trigger-enter .dropdown {
  display: block;
}
.trigger-open .dropdown {
  opacity: 1;
}
.open {
  opacity: 1;
}

@include tablet-landscape-up {
  nav.collapsed-menu,
  a.hamburger {
    display: none;
  }
}

/* Hide mobile menu button */
@include tablet-landscape-up {
  a.hamburger {
    display: none;
  }
}

/* Hide desktop menu at breakpoint and show mobile menu */
@include tablet-landscape-down {
  nav.large-menu {
    display: none;
  }
  //Hamburger button style
  a.hamburger {
    align-self: center;
    z-index: 99;

    svg {
      .one,
      .two {
        transform: translateY(0);
        transition: all 0.25s;
      }
      .one-x,
      .two-x {
        opacity: 0;
        transition: all 0.25s;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
      }
    }

    &.close {
      // transform-origin: 50% 50%;
      // transform: rotate(45deg);
      svg {
        .one-x {
          transform: rotate(45deg);
          opacity: 1;
          transition: all 0.25s;
        }
        .two-x {
          transform: rotate(-45deg);
          opacity: 1;
          transition: all 0.25s;
        }
        .one {
          transition: all 0.25s;
          opacity: 0;
          transform: translateY(15%);
        }
        .two {
          transition: all 0.25s;
          opacity: 0;
          transform: translateY(-40%);
        }
      }
    }
  }
  nav.collapsed-menu {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: transparent;

    & > ul {
      padding-left: 0;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 75px;
      margin: 0;

      & > li {
        display: block;
        padding: 20px 0;

        a {
          color: white;
          font-family: $font, "sans-serif";
          font-size: 1.5em;
          text-decoration: none;
        }
      }
    }
    .drop {
      text-align: center;

      & > a {
        display: block;
      }
    }
    .dropdown {
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      li {
        list-style-type: none;
        margin-bottom: 0;
        padding: 10px;

        a {
          opacity: 0.5;
        }
      }
    }
  }
}
/* Hide */
.hide-menu {
  transform: translateX(100%);
  height: 0 !important;
}
.hide {
  display: none !important;
}

//hero text and form section
.intro {
  max-width: 1100px;
  margin: 100px auto 0 auto;
  padding: 0 50px;

  @include tablet-landscape-down {
    padding: 0 15px;
  }

  .watch {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      color: white;
      padding-left: 5px;

      &:hover {
        color: $accent;
      }
    }
  }

  .intro-text {
    color: white;
    font-size: 3.5em;
    width: 50%;
    margin: 15px 0 15px 0;

    @include tablet-landscape-down {
      width: 100%;
      font-size: 2.625rem;
    }
  }
  .intro-text + p {
    color: white;
    width: 50%;
    font-size: 1.3rem;
    margin-top: 0;
    line-height: 1.5;

    @include tablet-landscape-down {
      width: 100%;
      font-size: 1rem;
    }
  }

  //random comment but find ways to use css's default layout default mechanism for responsiveness and then just throw in a media query when it's not enough
  .find {
    background: rgba(48, 52, 65, 0.6);
    padding: 20px 20px 0 0;
    max-width: 1100px;
    margin-top: 80px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;

    @include tablet-landscape-down {
      margin-top: 40px;
    }

    input,
    select,
    option {
      border: 2px solid rgba(0, 0, 0, 0);
      margin-bottom: 20px;
      border-radius: 8px;
      padding: 15px;
      background: white;
      box-sizing: borderbox;
    }
    input[name="name"] {
      // max-width: 474px;
      flex: 4 1 auto;
      margin: 0 0 20px 20px;
      padding-left: 50px;
      background-size: 15px 15px;
      background: white url("../img/icon-location.svg") no-repeat 15px center;
    }
    select {
      // max-width: 194px;
      position: relative;
      // appearance: none;
      flex: 2 1 auto;
      margin: 0 0 20px 20px;
    }
    input[type="submit"] {
      flex: 2 1 auto;
      margin: 0 0 20px 20px;
      background: $accent;
      color: white;

      &:hover {
        background: #454545;
      }
    }
  }
}
main {
  background: #f9f9f9;
}
.features {
  padding: 100px 50px 80px 50px;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  & > * + * {
    margin-left: 20px;
  }

  div {
    background: #fff;
    max-width: 350px;
    box-sizing: border-box;
    flex: 1 1 auto;
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

    h4 {
      font-size: calc(22px + 2 * ((100vw - 320px) / (1440 - 320)));
      font-weight: normal;
      color: $font;
    } 
    p {
      color: rgba(31, 37, 67, 0.6);
      line-height: 1.5;
    }
  }

  @include tablet-landscape-down {
    flex-wrap: wrap;
    padding: 50px 20px 0 20px;

    div {
      max-width: 100%;
    } 

    & > * + * {
      margin: 20px 0 0 0;
    }
  }
}

//Yo. THis is going to be my first time using css grid
.video {
  display: grid;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
  grid-template-areas: "video heading"
  "video textbtn"
  "video ."
  ;

  .video-el {
    grid-area: video;
    justify-self: left;
    padding-right: 50px;
  }
  .heading {
    grid-area: heading;
    font-size: calc(32px + 16 * ((100vw - 320px) / 880));
    color:  $text;
    font-weight: normal;
  }
  .text-btn-wrap {
    grid-area: textbtn;
  }
}
