@font-face {
    font-family: 'Questrial';
    src: url('Questrial-Regular.eot');
    src: url('Questrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('Questrial-Regular.woff2') format('woff2'),
        url('Questrial-Regular.woff') format('woff'),
        url('Questrial-Regular.ttf') format('truetype'),
        url('Questrial-Regular.svg#Questrial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-Bold.eot');
    src: url('Exo2-Bold.eot?#iefix') format('embedded-opentype'),
        url('Exo2-Bold.woff2') format('woff2'),
        url('Exo2-Bold.woff') format('woff'),
        url('Exo2-Bold.ttf') format('truetype'),
        url('Exo2-Bold.svg#Exo2-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

