:root {
  /* CSS HEX */
  --cultured: #efefefff;
  --cerulean-blue: #3454d1ff;
  --caribbean-green: #22cfa0ff;
  --aero-blue: #dfffebff;
  --rich-black-fogra-29: #121619ff;
  --gunmetal: #192833;
  --flame: #de541eff;
  --unbleached-silk: #ffddc7ff;
  /* Fonts */
  --bold-heading: 'Helvetica Nueu', 'Archivo Black', Arial, Helvetica, sans-serif;
  --section-heading: Helvetica, 'Montserrat', Arial, sans-serif;
  --paragraph-text: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: var(--rich-black-fogra-29);
}

.navbar-brand {
  font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
}

@media (min-width: 576px) {
  .navbar-brand {
    font-size: 1rem;
  }
}

.navbar-brand .logo {
  width: 30px;
}

@media (min-width: 576px) {
  .navbar-brand .logo {
    width: 45px;
  }
}

.btn {
  background: var(--cerulean-blue);
  font-weight: 700;
  color: white;
  padding-right: 21px;
  padding-left: 21px;
  border: 0;
}

.left-top-nav li:not(last-child),
.right-top-nav li:not(last-child) {
  margin-right: 30px;
}

.nav-link {
  font-weight: 600 !important;
  color: var(--rich-black-fogra-29) !important;
}

/* hero */
.hero-background {
  background: url("../img/bus-interior.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .hero-background {
    background: url("../img/bus-interior-mobile.jpg");
  }
}

/* Intro booking */
#intro-booking {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 992px) {
  #intro-booking {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.catch-header {
  font-family: var(--bold-heading);
  color: var(--cultured);
}

.catch-paragraph {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--cultured);
}

@media (max-width: 767px) {
  .catch-paragraph {
    font-size: 1rem;
  }
}

.booking {
  margin-top: 3rem;
}

.booking .nav.nav-tabs {
  border: 0;
}

.booking li.nav-item {
  border-bottom: 0;
  margin-bottom: 0;
}

.booking li.nav-item .nav-link {
  border-bottom: 0;
  color: var(--cultured) !important;
}

.booking li.nav-item .nav-link.active {
  background: var(--cultured);
  border-bottom: 0;
  color: var(--gunmetal) !important;
}

@media (max-width: 575px) {
  .booking .nav-tabs .nav-link {
    font-size: 0.7rem;
  }
}

.booking .tab-content {
  border: 0;
  margin-top: -2px;
}

.booking .tab-content .tab-pane {
  background: var(--cultured);
  border: 1px solid #e0e0e0;
  padding: 2rem;
  /* media query here */
}

@media (max-width: 767px) {
  .booking .tab-content .tab-pane {
    padding: 13px;
  }
}

.booking .tab-content button.btn.booking-flags.dropdown-toggle {
  font-size: 0.7rem;
  font-weight: 600;
}

.form-row {
  margin-top: 15px;
}

@media (max-width: 767px) {
  .form-row .input-wrapper {
    padding-top: 10px;
  }
}

.book-btn {
  color: white;
  margin-top: 10px;
  height: calc(1.5em + 1.5rem + 2px);
}

@media (max-width: 767px) {
  .book-btn {
    font-size: 0.8rem;
  }
}

.form-control {
  height: calc(1.5em + 1.5rem + 2px);
}

.features {
  padding-top: 5em;
}

@media (max-width: 767px) {
  .features {
    padding-top: 3em;
  }
}

.features h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: var(--gunmetal);
  margin-bottom: 2.2em;
  padding-left: 10px;
  line-height: 1.33em;
}

@media (max-width: 767px) {
  .features h2 {
    margin-bottom: 1.3em;
  }
}

.features h3 {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 900;
  color: var(--cerulean-blue);
  margin-bottom: 1.8em;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .features h3 {
    margin-bottom: 1em;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .feature-item {
    margin-top: 0.75rem;
  }
}

.feature-icon {
  width: 40px;
  display: block;
  margin-left: 10px;
}

.feature-content .feature-title {
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
  margin-top: 10px;
  line-height: 1rem;
  border-left: 1.5px solid var(--gunmetal);
  color: var(--gunmetal);
}

.feature-desc {
  font-size: 14px;
  font-family: var(--paragraph-text);
  padding-left: 10px;
}

.discover-destinations {
  margin-top: 5em;
  background: url("../img/discover-routes-itc.jpg");
  background-repeat: none;
  padding: 3em 0;
}

@media (max-width: 767px) {
  .discover-destinations {
    padding: 2em 0;
  }
}

.discover-destinations .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discover-destinations .discover-text h2 {
  color: var(--cultured);
  font-family: var(--section-heading);
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 1em;
}

@media (max-width: 767px) {
  .discover-destinations .discover-text h2 {
    margin-bottom: 0.5em;
  }
}

.discover-destinations .discover-text h3 {
  color: var(--cultured);
  font-size: 18px;
  margin-bottom: 1em;
}

@media (max-width: 767px) {
  .discover-destinations .discover-text h3 {
    font-size: 14px;
    margin-bottom: 0.5em;
  }
}

.discover-destinations .discover-text .routes-button {
  background: var(--caribbean-green);
  color: var(--gunmetal);
}

.discover-destinations .discover-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover-destinations .discover-map .map-mask {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid var(--caribbean-green);
  background: url(../img/map.png);
  background-size: contain;
}

@media (max-width: 767px) {
  .discover-destinations .discover-map {
    margin-top: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.deals {
  margin-top: 3em;
}

.deals h3 {
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--gunmetal);
}

@media (max-width: 767px) {
  .deals h3 {
    margin-bottom: 1.5rem;
  }
}

.deals .overscroll-container {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.deals .overscroll-container::-webkit-scrollbar {
  display: none;
}

.deals-container {
  min-width: 992px;
}

.deal-link {
  margin-bottom: 2rem;
}

.deals-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deal-thumb {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background: var(--caribbean-green);
}

.deal-thumb img {
  width: 100%;
  border-radius: 8px;
}

.deal-content {
  padding-left: 10px;
  color: var(--gunmetal);
}

.deal-content i.fa {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: var(--flame);
}

.deal-content p {
  margin-bottom: 0;
}

.foot-section-wrap {
  padding-top: 3em;
}

.extras {
  border-top: 1px solid #c0c1c4;
  padding-top: 2em;
}

@media (max-width: 767px) {
  .extras-item {
    margin-bottom: 2rem;
  }
}

.extras-item b {
  margin-bottom: 1rem;
  display: block;
}

.extras-item ul {
  padding-left: 0;
  list-style-type: none;
}

.extras-item ul li {
  margin-bottom: 0.75rem;
}

.extras-item ul li a {
  color: var(--gunmetal);
}

.footer {
  margin-top: 2rem;
  border-top: 1px solid #C0C1C4;
  padding-top: 1rem;
}

.footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-links {
  text-align: right;
}

@media (max-width: 767px) {
  .footer .footer-links {
    text-align: left;
  }
}

.footer a {
  color: var(--gunmetal);
  display: inline-block;
  padding-left: 1rem;
}

.footer a:first-child {
  padding-left: none;
}

.chat {
  display: none;
}

.is-visible {
  display: initial !important;
}
/*# sourceMappingURL=styles.css.map */