:root {
  /* CSS HEX */
  --cultured: #efefefff;
  --cerulean-blue: #3454d1ff;
  --caribbean-green: #22cfa0ff;
  --aero-blue: #dfffebff;
  --rich-black-fogra-29: #121619ff;
  --gunmetal: #192833;
  --flame: #de541eff;
  --unbleached-silk: #ffddc7ff;
  /* Fonts */
  --bold-heading: 'Archivo Black', Arial, Helvetica, sans-serif;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: var(--rich-black-fogra-29);
}

.navbar-brand {
  font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
}

@media (min-width: 576px) {
  .navbar-brand {
    font-size: 1rem;
  }
}

.navbar-brand .logo {
  width: 30px;
}

@media (min-width: 576px) {
  .navbar-brand .logo {
    width: 45px;
  }
}

.btn {
  background: var(--cerulean-blue);
  font-weight: 700;
  color: white;
  padding-right: 21px;
  padding-left: 21px;
  border: 0;
}

.left-top-nav li:not(last-child),
.right-top-nav li:not(last-child) {
  margin-right: 30px;
}

.nav-link {
  font-weight: 600 !important;
  color: var(--rich-black-fogra-29) !important;
}

/* Intro booking */
#intro-booking {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 992px) {
  #intro-booking {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.catch-header {
  font-family: var(--bold-heading);
}

.booking {
  margin-top: 3rem;
}

.booking .nav.nav-tabs {
  border: 0;
}

.booking li.nav-item {
  border-bottom: 0;
  margin-bottom: 0;
}

.booking li.nav-item .nav-link {
  border-bottom: 0;
}

.booking li.nav-item .nav-link.active {
  background: var(--cultured);
  border-bottom: 0;
}

@media (max-width: 575px) {
  .booking .nav-tabs .nav-link {
    font-size: 0.7rem;
  }
}

.booking .tab-content {
  border: 0;
  margin-top: -2px;
}

.booking .tab-content .tab-pane {
  background: var(--cultured);
  border: 1px solid #e0e0e0;
  padding: 2rem;
  /* media query here */
}

@media (max-width: 767px) {
  .booking .tab-content .tab-pane {
    padding: 13px;
  }
}

.booking .tab-content button.btn.booking-flags.dropdown-toggle {
  font-size: 0.7rem;
  font-weight: 600;
}

.form-row {
  margin-top: 15px;
}

@media (max-width: 767px) {
  .form-row .input-wrapper {
    padding-top: 10px;
  }
}

.book-btn {
  color: white;
  margin-top: 10px;
  height: calc(1.5em + 1.5rem + 2px);
}

.form-control {
  height: calc(1.5em + 1.5rem + 2px);
}

.features h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: var(--gunmetal);
  margin-bottom: 2.2em;
  padding-left: 10px;
  line-height: 1.33em;
}

@media (max-width: 767px) {
  .features h2 {
    margin-bottom: 1.3em;
  }
}

.features h3 {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 900;
  color: var(--cerulean-blue);
  margin-bottom: 1.8em;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .features h3 {
    margin-bottom: 1em;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .feature-item {
    margin-top: 0.75rem;
  }
}

.feature-icon {
  width: 40px;
  display: block;
  margin-left: 10px;
}

.feature-content .feature-title {
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
  margin-top: 10px;
  line-height: 1rem;
  border-left: 1.5px solid var(--gunmetal);
  color: var(--gunmetal);
}

.feature-desc {
  font-size: 14px;
  padding-left: 10px;
}
/*# sourceMappingURL=styles.css.map */