/*---- responsive breakpoints ----*/
body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*---- Slider Styles ----*/
.carousel-wrapper {
  overflow: hidden;
  width: 50%;
  float: right;
  /* align-self: flex-end; */
}

.carousel-wrapper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.carousel {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* carousel controls */
.carousel__controls__container {
  position: absolute;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 4em;
  bottom: 4em;
}

.carousel__controls__container > * + * {
  padding-left: 40px;
}

.carousel__controls {
  color: #888888;
  font-size: 20px;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
  cursor: pointer;
}

.carousel__controls:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

.carousel__controls.active {
  color: #ff0099;
  text-decoration: underline;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 0 0;
  z-index: 100;
  -webkit-transition: opacity 0.5s, z-index 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, z-index 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s, -webkit-transform 0.5s;
}

.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}

.carousel__photo.prev {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /* Move 'prev' item to the left */
}

.carousel__photo.next {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  display: none;
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  /* Sit on top of everything */
  border: 1px solid black;
}

.carousel__button--prev {
  left: 0;
}

.carousel__button--next {
  right: 0;
}

.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

/*--- General Styles ------*/
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

/*---- Main styles ----*/
.mobile-menu,
.mobile-icons-container {
  display: none;
}

.content {
  padding: 0 0 0 8.125em;
  padding-top: calc(30px + (90 - 30) * ((100vh - 400px) / (960 - 400)));
  padding-left: calc(60px + (130 - 60) * ((100vw - 1100px) / (1920 - 1100)));
  margin: 0;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 100vh;
}

.content-navigation .list {
  font-family: "Exo 2", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3.75em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-navigation .list .link {
  color: black;
  position: relative;
  text-transform: uppercase;
}

.content-navigation .list .link::after {
  left: 0;
  z-index: -1;
  bottom: 0;
  position: absolute;
  content: "";
  height: 10px;
  width: 0%;
  background: #ff0099;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.content-navigation .list .link:hover::after {
  left: 0;
  opacity: 1;
  z-index: -1;
  bottom: 0;
  position: absolute;
  content: "";
  height: 10px;
  width: 80%;
  background: #ff0099;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.shopping-pc {
  position: absolute;
  right: calc(60px + (130 - 60) * ((100vw - 1100px) / (1920 - 1100)));
  top: calc(40px + (90 - 40) * ((100vh - 400px) / (960 - 400)));
  z-index: 100;
  mix-blend-mode: exclusion;
}

.heading {
  margin-top: calc( 80px + (100vh - 768px) * ((150 - 80) / (1080 - 768)));
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.1;
  font-family: "Exo 2", sans-serif;
  font-size: calc(100px + (120 - 100) * ((100vw - 1100px) / (1920 - 1100)));
  margin-bottom: 0;
}

.heading__paragraph {
  padding-right: 40px;
  margin: 0;
  line-height: 1.63;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  margin-top: 15px;
}

.button {
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0.1em;
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  background: #ff0099;
  padding: 1.3em 2.2em;
  margin-top: calc(30px + (40 - 30) * ((100vh - 400px) / (960 - 400)));
  border: none;
}

.button:hover {
  background: black;
  color: white;
}

.social {
  margin-top: calc(80px + (100vh - 768px) * ((150 - 80) / (1080 - 768)));
}

.social .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social .list > * + * {
  padding-left: 32px;
}

.social .list svg {
  fill: black;
}

.social .list svg:hover {
  fill: #ff0099;
}
/*# sourceMappingURL=main.css.map */