body{
	background-color:#FAFBFC;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #FAFBFC;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin:23px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color:black;
}

/* Change the background color on mouse-over */
.header a:hover {
  
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #FAFBFC;
  color: #F55573;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
.custom-button,
.custom-button:visited {
      display: inline-block;
      padding: 2px 15px;
      border: 1px solid black;
}

.custom-button:hover {
      background: #000;
      color: #FFF;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #F55573;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-right: 142px;
}

input[type=submit]:hover {
  background-color: #F55573;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #FAFBFC;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
    margin-right: 21px;
  }
}
