nav {
    display: flex;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
}

nav h4 {
    margin: 0;
}

ul {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: -65%;
    padding-top: 50px;
    background-color: #fff;
    list-style-type: none;
    width: 60%;
    height: 100vh;
    border-right: 1px solid #2a3a64;
    padding-left: 5px;
    transition: margin-left 0.3s;
}

.cancel {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #2a3a64;
}

.open {
    position: absolute;
    right: 50px;
    font-size: 1.2em;
    color: #2a3a64;
}

li {
    font-size: 1em;
    margin-left: 0px;
    margin: 20px 0;
    border-left: 4px solid #2a3a64;
    padding: 5px 15px;
    text-align: center;
}

li a {
    color: #2a3a64b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

li a:hover, li a:active {
    color: #f13054;
}

.btn {
    padding: 15px 30px;
    border: 0.5px solid #adb1bdb3;
    border-radius: 10px;
    color: #2a3a64;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0 20px;
}

.dropdown-content a {
    color: #2a3a64;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px;
    margin: 10px 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #f13054;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

footer {
    background-color: #283c63;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    color: #fafbfc;
}

footer h6 {
    text-align: center;
    font-weight: bolder;
    font-size: 0.8em;
    margin-bottom: 10px;
}
footer small {
    display: block;
    text-align: center;
}

footer a {
    color: #fafbfc;
    font-size: 1.8em;
    margin-right: 10px;
}

.copyright small {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 0.6em;
}

@media screen and (min-width: 768px) {
    nav {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }
    ul {
        display: flex;
        list-style-type: none;
        margin-left: auto;
        position: relative;
        padding-top: 0px;
        background-color: transparent;
        height: 100%;
        margin-top: 20px;
        border-right-width: 0;
        width: initial;
    }

    .cancel,
    .open {
        display: none;
    }

    li {
        font-size: 0.65em;
        margin: 10px 0 0 40px;
        border-left-width: 0;
        padding: 0px;
    }

    li a {
        color: #2a3a64b3;
        text-decoration: none;
        font-weight: normal;
    }

    li a:active {
        color: #f13054;
    }

    .btn {
        padding: 15px 30px;
        border: 0.5px solid #adb1bdb3;
        border-radius: 10px;
        color: #2a3a64;
    }

    .dropdown-content a {
        font-size: 0.6em;
    }
    footer {
        padding-left: 15px;
    }
    footer h6 {
        text-align: left;
        font-size: 0.7em;
        padding: 0 10px;
    }
    footer small {
        text-align: left;
        font-size: 0.65em;
        padding-left: 10px;
    }
}

@media screen and (min-width: 992px) {
    nav {
        padding: 20px 9% 0 9%;
    }
    footer {
        padding: 20px 9%;
    }
    footer h6 {
        padding: 10px 20px;
    }
    footer small {
        font-size: 0.5em;
        margin: 0;
        padding: 5px 20px;
    }
    .copyright small {
        font-size: 0.55em;
    }
}
