body {
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 43.25em;
}

h1 {
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
}

a {
  font-weight: 700;
}

p,
dd {
  line-height: 160%;
}

.intro-paragraph {
  font-size: 0.875em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.75em;
}

dl {
  margin-bottom: 2.5em;
}

dt {
  margin-bottom: 1em;
}

dd {
  // crap ahead 🙈
  display: block;
  margin-bottom: 20px;
}

main {
  margin-top: 3em;
}

.profiles {
  display: flex;
}

.profiles > * + * {
  margin-left: 20px;
}

.project-description {
}
